# Environment Variables / Secrets
*.env
timestamp.txt

# Virtual Environments
.venv/

# Python Libraries
Lib/
site-packages/

# Python Cache / Compiled Files
__pycache__/
*.pyc

# Jupyter Notebook Artifacts
.ipynb_checkpoints/

# Zip files
*.zip